<% provide(:title, 'About') %>
		<h1>About us</h1>
		<p> I am a one man show who is simply trying to get better at programming by creating what I feel would be a useful product to have on a site like Facebook or as a stand alone app</p>